Package: dev.extbh.areyousure
Name: AreYouSure?
Version: 0.0.1
Architecture: iphoneos-arm
Description: Confirm Calls for Instagram
Maintainer: ExTBH
Author: ExTBH
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
